// COLORS
$color-white: #f5f5f5; // white
$color-light: #f5f5f5; //
$color-black: #374454; // text
$color-blue: #343971;

$gradient-blue: linear-gradient(91.44deg, #293d7a 0.76%, #4479bb 99.55%); // zc
$gradient-accent: linear-gradient(
	349.76deg,
	#d7299b 7.91%,
	#de6b9b 92.6%
); // grad

$gradient-icon: linear-gradient(334.49deg, #283c79 16.15%, #4479bc 83.85%);

/* FONTS */
@font-face {
	font-family: 'Century Gothic';
	src: url('../assets/font/11528.ttf') format('ttf');
}
$font-gotic: 'Century Gothic';
